@media screen and (max-width: 1280px) {
  .top-banner {
    width: 100vw;
  }
  .navbar {
    padding: 0 20px;
    overflow: initial;
  }

  .nav-toggle {
    display: block;
    text-decoration: none;
  }

  .nav-toggle i {
    color: black;
    font-size: 30px;
  }

  .right-navbar {
    position: absolute;
    left: -100%;
    top: 100%;
    width: 100%;
    padding-block: 20px;
    background-color: #ffffff;
    transition: 0.2s ease-in-out;
  }

  .active {
    left: 0;
  }

  .right-navbar ul {
    flex-direction: column;
  }

  .hero {
    padding: 0 20px;
  }
  .left-hero h1 {
    color: #183b56;
    font-weight: 1000;
    font-family: Roboto;
    font-size: 40px;
    padding-bottom: 8px;
  }

  .left-hero p {
    color: #7e7f85;
    font-family: Poppins;
    font-size: 15px;
    padding-bottom: 8px;
  }

  .left-hero button {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #2294ed;
    color: #ffffff;
  }

  .examples-card {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid red; */
    justify-items: center;
    gap: 10px;
    padding: 20px;
  }
  .example-card1 {
    /* border: 2px solid green; */
    width: 49vw;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .example-card2 {
    /* border: 2px solid green; */
    width: 49vw;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .example-card3 {
    /* border: 2px solid green; */
    width: 49vw;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .example-card4 {
    /* border: 2px solid green; */
    width: 49vw;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .footer {
    /* border: 1px solid green; */
    height: 400px;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  .top-banner {
    width: 100vw;
  }
  .hero {
    padding-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-items: center;
  }

  .left-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-hero h1 {
    margin: 10px;
    color: #183b56;
    font-weight: 500;
    font-family: Roboto;
    font-size: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .left-hero p {
    color: #7e7f85;
    font-family: Poppins;
    font-size: 14px;
    padding-bottom: 8px;
  }

  .left-hero button {
    margin-top: 10px;
    width: 80vw;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #2294ed;
    color: #ffffff;
  }

  .bottom-banner {
    margin-top: 10px;
    padding: 10px;
  }

  .feature1 {
    /* border: 1px solid yellow; */
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .feature1 > .left img {
    width: 300px;
    /* margin-left: 150px; */
    /* border: 1px solid red; */
  }

  .feature1 .right {
    /* border: 1px solid yellow; */
    text-align: center;
  }

  .feature2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .feature2 .right img {
    /* border: 1px solid red; */
    /* margin-left: 100px; */
    width: 300px;
  }

  .feature2 .left {
    text-align: center;
  }

  .upper-card-desc h1 {
    text-align: center;
  }

  .examples-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .upper-footer {
    height: 200px;
    row-gap: 20px;
  }

  .upper-footer h1 {
    font-size: large;
    font-weight: 600px;
  }
  .upper-footer button {
    width: 40vw;
    height: 40px;
  }

  .footer {
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Height adjust based on content */
    flex-direction: column; /* Stack inner divs vertically */
    gap: 40px; /* Reduce gap between items */
    padding: 20px; /* Add some padding */
  }

  .inner-div img {
    width: 250px;
  }

  .inner-div {
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Height adjust based on content */
    align-items: center; /* Center align content */
    text-align: center; /* Center text */
    margin-top: 0; /* Remove extra margin */
  }

  .inner-div h1 {
    font-size: 24px; /* Reduce heading size */
  }

  .inner-div p {
    font-size: 14px; /* Reduce paragraph size */
  }
}
